.sectionProjetos {
  width: 100%;
  margin-top: 50px;
}

.sectionProjetos h2 {
  text-align: center;
  margin-block: 20px;
}

.carouselWrapper {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.boxCards {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(180deg, #020f1b 0%, #0a315e 100%);

  padding: 18px 15px;
  max-width: 350px;
  height: 450px;
  max-height: 500px;
  margin: 15px 10px;
  color: #fff;
  transition: 0.3s ease;
  border: solid yellow;
}

.boxCards img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
