.navbar {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
  }

  .navbar_space{
    width: 100%;
  }
  
  .list {
    /* border: 2px solid yellow; */
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .item {
    margin-right: 1em;
  }
  
  .item a {
    color: white;
    text-decoration: none;
  }
  
  .item a:hover {
    color: #ffbb33;
  }
  